.content{
    display: flex;
    flex-flow: column;
    margin-top:70px;
    margin-left: 30%;
    margin-right: 40%;
    float: left;
    width:40%;
}
@media (max-width: 779px){
    .content {
        margin-top:50px;
    }
}
@media (max-width: 1279px) and (min-width: 780px){
    .content {
        margin-top:60px;
    }
}